@import "tailwindcss";

@plugin "daisyui"{
  themes: light --default;
}
  

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --color--base-200: #F3F3F3;
  --color--base-300: #e7e7e7;
  --color--accent-300: #B0B0B0;

}

* {
  font-family: "Poppins", sans-serif;

}

a.active{
  @apply bg-base-300
}